.space{
  height: 2000px;
  background: #eee;
}
/* fix menu */
.topnav{
  margin: 0;
}
/* collection  */
.collection-logo {
  height: 400px;
}

.collection-text {
  font-size: 40px;
  padding-top: 180px;
  padding-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: lighter;
}

.collection {
  text-transform: uppercase;
  padding-bottom: 10px;
  letter-spacing: 2px;
  font-weight: lighter;
}

.collection-logo {
  background-image: url('../images/_bg_6.jpg');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
}
/* end collection */
/*body checkout*/
.space {
  height: 50px;
  background: #f8f9fa;
}
/* fix menu */
.navbar {
  background-color: #fff;
  width: 80%;
  margin: 0;
  padding-left: 10%;
  padding-right: 10%;
}
/* end fix menu */
/* collection  */
.collection-logo {
  height: 400px;
  background-image: url('../images/_bg_6.jpg');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
}

.collection-text {
  font-size: 40px;
  padding-top: 180px;
  padding-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: lighter;
}

.collection {
  text-transform: uppercase;
  padding-bottom: 10px;
  letter-spacing: 2px;
  font-weight: lighter;
}

/* end collection */
/*body checkout*/

/*body {
  font-family: "Lato", Arial, sans-serif;
  background: #fff;
  font-size: 15px;
  line-height: 1.8;
  font-weight: 400;
  color: gray;
}*/

.ftco-section {
  padding: 5em 0;
  position: relative;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.justify-content-center {
  -webkit-box-pack: center !important;
  justify-content: center !important;
}

.col-xl-8 {
  -webkit-box-flex: 0;
  flex: 0 0 66.66667%;
  max-width: 66.66667%;
}

.col-xl-8 {
  color: #808080;
  font: 15px Lato, Arial, sans-serif;
  padding: 0px 15px;
}

.col-xl-8, .col-md-6, .col-md-12 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.ftco-animate {
  opacity: 0;
  visibility: hidden;
}

.fadeInUp {
  animation-name: fadeInUp;
}

.ftco-animated {
  animation-duration: .5s;
  animation-fill-mode: both;
}

form {
  display: block;
  margin-top: 0em;
}

.billing-form .icon {
  position: absolute;
  top: 50% !important;
  right: 15px;
  font-size: 14px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

  .billing-form .icon span {
      color: black !important;
  }


.billing-form .select-wrap, .billing-form .input-wrap {
  position: relative;
}

  .billing-form .select-wrap select, .billing-form .input-wrap select {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
  }

.billing-form .form-control {
  font-weight: 300;
  border: 1px solid rgba(0, 0, 0, 0.1) !important;
  height: 58px !important;
  padding-left: 15px;
  padding-right: 15px;
  background: transparent !important;
  color: rgba(0, 0, 0, 0.4) !important;
  font-size: 20px;
  border-radius: 0px;
  box-shadow: none !important;
}

  .billing-form .form-control::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      color: rgba(0, 0, 0, 0.4);
  }

  .billing-form .form-control::-moz-placeholder {
      /* Firefox 19+ */
      color: rgba(0, 0, 0, 0.4);
  }

  .billing-form .form-control:-ms-input-placeholder {
      /* IE 10+ */
      color: rgba(0, 0, 0, 0.4);
  }

  .billing-form .form-control:-moz-placeholder {
      /* Firefox 18- */
      color: rgba(0, 0, 0, 0.4);
  }

  .billing-form .form-control:focus, .billing-form .form-control:active {
      border-color: #f1b8c4 !important;
  }


.billing-form textarea.form-control {
  height: inherit !important;
}

}

.billing-form .form-group {
  position: relative;
}

.billing-heading {
  font-size: 24px;
  text-transform: uppercase;
}

.billing-form label {
  color: #000000;
  font-size: 14px;
}

.bg-light {
  background: #f8f9fa !important;
}

.bg-light {
  background-position: initial;
  background-image: initial !important !important;
  background-size: initial !important;
  background-repeat-x: initial !important;
  background-repeat-y: initial !important;
  background-attachment: initial !important;
  background-origin: initial !important;
  background-clip: initial !important;
  background-color: rgb(248, 249, 250) !important;
  background-repeat: repeat !important;
}

.align-items-end {
  -webkit-box-align: end !important;
  align-items: flex-end !important;
}

.col-md-6 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}

.flex {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
  display: flex !important;
  color: #808080;
  font: 15px Lato, Arial, sans-serif;
  margin: 48px -15px 0px;
  padding: 0px 15px;
}

.col-md-6, .d-flex {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 100%;
}

.col-md-6 {
  color: #808080;
  font: 15px Lato, Arial, sana-serif;
  padding: 0px 15px;
}

.col-md-6, .d-flex {
  color: #808080;
  font: 15px Lato, Arial, sana-serif;
  padding: 0px 15px;
}

.col-md-12 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 80%;
}

.form-group {
  margin-bottom: 1rem;
  color: black;
}

.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  line-height: 1.5;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

.p-3 {
  padding: 1rem !important;
}

.p-md-5 {
  padding: 3rem !important;
}

.mb-4, .my-4 {
  margin-bottom: 1.5rem !important;
}

.w-100 {
  width: 100% !important;
}

.mt-5, .my-5 {
  margin-top: 3rem !important;
}

.pt-3, .py-3 {
  padding-top: 1rem !important;
}

.pl-4, .px-4 {
  padding-left: 1.5rem !important;
}

.pr-4, .px-4 {
  padding-right: 1.5rem !important;
}

.d-flex {
  display: flex !important;
}

.cart-detail {
  width: 100%;
  display: block;
}

.cart-total {
  width: 100%;
  display: block;
  border: 1px solid rgba(0, 0, 0, 0.05);
  padding: 20px;
}

.cart-detail, .cart-total {
  border: none;
}

.cart-detail, .cart-total, .bg-light, .p-3, .p-md-4 {
  color: #808080;
  font: 15px Lato, Arial, sans-serif;
  background: #F8F9FA;
  padding: 24px
}

span {
  color: #808080;
  font: 15px Lato, Arial, sans-serif;
}

p {
  margin: 0px 0px 16px;
}

hr {
  background: rgba(255, 255, 255, 0.1);
  margin: 16px 0px;
}

.cart-total p span {
  display: block;
  width: 50%;
}

.cart-detail, .btn-primary {
  display: block;
  width: 80%;
}

.btn, .btn-primary {
  background: #f1b8c4;
  border: 1px solid #f1b8c4;
  color: #fff;
}

.btn {
  border-radius: 30px;
  cursor: pointer;
  box-shadow: none !important;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  font-size: 1rem;
  line-height: 1.5;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

.btn, .btn-primary, .py-3, .px-4 {
  color: #FFFFFF;
  font: 18px Lato, Arial, sans-serif;
  background: #F1B8C4;
  padding: 16px 16px;
}

.row, .mt-5, .pt-3, .d-flex {
  color: #808080;
  font: 15px Lato, Arial, sans-serif;
  margin: 48px -15px 0px;
  padding: 0px 15px;
}
.placeholder-button a:hover{
  color: #f1b8c4;
  background: #fff;
  border: 1px solid #f1b8c4;
}

/*@media only screen and (max-width: 480px) and (min-width: 320px){
  .about-us-image{
      width: 100%;
      margin-bottom: 10%;
  }
  .about-us-info{
      width: 100%;
  }    
  
  .big-text{
      font-size: 30px;
    }
  .small-text{
      font-size: 10px;
  }
  .subcribe-form input {
      font-size: 8px;
  }
  .subcribe-form a {
      width: 15%;
      font-size: 8px;
  }
}*/